<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="book" class="spring.dependancyInjection.Book">
		<constructor-arg value="1" type="int"></constructor-arg>
		<constructor-arg value="Maths" type="String"></constructor-arg>
	</bean>

	<bean id="school" class="spring.dependancyInjection.School">
		<constructor-arg value="1" type="int"></constructor-arg>
		<constructor-arg value="MySchool" type="String"></constructor-arg>
	</bean>

	<bean id="teacher" class="spring.dependancyInjection.Teacher">
		<property name="teacherId" value="1"></property>
		<property name="teacherName" value="abc pqr"></property>
		<property name="subject" value="History"></property>
	</bean>
</beans>

